<% content_for :title, t('verification.step1') %>

<div class="content-content verification">
  <div class="box-info">

    <h2><%= t('verification.admin') %></h2>

    <div class="row">
      <%= render partial: "steps", locals: { step: 1 } %>

      <p>
      <%= t('verification.new') %>
      </p>

      <%= semantic_form_for(:user, url: verification_search_path, html: {method: :post}) do |f| %>

          <fieldset class="verification-form">

            <div class="inputlabel-box">
              <div class="input-box">
                <%= f.input :login, as: :string, label: t('devise.links.email'), required: false %>
              </div>
            </div>

            <div class="enter">
              <%= f.action :submit, label: t('verification.next'), button_html: {class: 'button-primary'} %>
            </div>

          </fieldset>
      <% end %>

    </div>
  </div>
</div>
