<div class="box-poll">
  <div>
    <p class="poll-q"> <%= group.name %> </p>
    <p class="date"> <%= group.description %> </p>
    <% if group.has_location %>
      <p class="date">
        <%= group.territory.name %> (<%= group.location_type_name %>)
      </p>
    <% end %>
  </div>
  <%= link_to space_download_census_path, class: "button button-vote" do %>
    <span> <%= t('.download') %> </span>
  <% end %>
</div>