<% %w(ca es).each do |locale| %>
  <p><%= t(".hello", user: @user.first_name, locale: locale) %></p>

  <p><%= t(".explanation", locale: locale) %></p>

  <p><%= t(".instructions", locale: locale) %></p>

  <p>
    <% url = confirmation_url(@user,
                              confirmation_token: @token,
                              locale: locale) %>
    <%= link_to url, url %>
  </p>

  <p><%= t(".apologize", locale: locale) %></p>

  <% if locale == 'ca' %>
    <hr>
  <% end %>
<% end %>
